/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */

:root {
    --header-height: 60px;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* region --- MENU --- */
body > header {
    position: sticky;
    padding: .5rem;
    height: var(--header-height);
    display: flex;
    align-items: center;
    background-color: #F2F5FF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

body > header > nav {
    display: flex;
    gap: 1em;
    flex-grow: 1;
    justify-content: right;

}


body > header nav ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

body > header button[popovertarget] {
    anchor-name: --menu-usuario;
}

/* hacemos mas pequeño el icono del perfil */
body > header p{
    display: flex;
    align-items: center;
    color: white;
}

body > header input{
    margin: .5em;
    height: 2em;
    display: flex;
    background-color: transparent;
    border: 0;
}

body > header button{
    background-color: transparent;
    border: 0;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
body > header button img{
    padding: .1em;
    margin: 1em;
    border-radius: .7em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

body > header button img:hover {
    background-color: rgb(180, 182, 183);
    
}


body > header > a > img {
    align-items: center;
    margin: .5em;
    height: 2em;
    padding-left: .5em;
    margin-right: 1em;

}
#menu-usuario {
    inset: unset;
    position-anchor: --menu-usuario;
    top: anchor(bottom);
    left: anchor(right);
    margin-top: .3em;
    position-try-fallbacks: --bottom-left;

    max-width: 20ch;
    padding: 1em;
    border: none;
    border-radius: .2em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#menu-usuario div:first-child {
    font-size: .8em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#menu-usuario div {
    padding: 0.5em;
}

/*@position-try --bottom-left {
    inset: unset;
    top: anchor(bottom);
    right: anchor(right);
}*/
/* endregion */

input {
    padding: .3em 1em;
    border-radius: .7em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline-color: rgba(49, 105, 190, 0.3);
    cursor: pointer;
    font-weight: bold;
    height: 1em;

}


input[type=button]:hover {
    background-color: rgb(180, 182, 183);
}

/* Login */



/* landing page */

.hero {
    background-image: url('../../imagenes/vik.jpg'); /* Usa aquí tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece un poco la imagen para mejor contraste */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: white;
    text-align: right;
    padding: 20px;
    margin-left: 400px;
}

.hero-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-content .logo-proa {
    max-width: 150px;
    margin: 20px 0;
}

.boton-demo {
    display: inline-block;
    padding: 10px 25px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 15px;
}

.sobre-nosotros {
    background-color: #eef1f6;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.sobre-nosotros h2 {
    color: #1f2c4c;
    font-size: 2em;
}

.sobre-nosotros p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

.icono {
    width: 50px;
}




